
#navbarNav ul li a{
    font-size: 18px;
}

#navbarNav ul li a:hover{
    color:cyan;
    text-decoration: overline;
    transition : 1s;

}

.navbar-brand{
    font-size:30px;
    margin-left:10px;
}

.navbar-brand:hover{
    color:cyan;
    transition : 1s;
}
.navbar-collapse{
    margin-left:20px;
}

body.dark .add_button{

    text-decoration:none;color:lightgreen;font-size:17px;padding:7px;font-weight:bold
}

body.dark .add_button:hover{
    text-decoration:none;color:green;font-size:17px;padding:7px;font-weight:bold
}


body.dark .dropdown-menu{
    background-color:#353535;
}

body.dark .dropdown-item{
    background-color: #353535;
    color:white;
}

body.dark .dropdown-item:hover{
    background-color: #423842;
    cursor:pointer;
    color:white;
}


body.dark .logout:hover{
    color:white !important;
    background-color: red;
}



body.dark .del_button {
    border: none;
    background-color:#353535;
    color: red;
    font-size:17px;
    font-weight:bold;
}

body.dark .del_button:hover {
    border: none;
    background-color:#353535;
    color: #F75959;
    font-size:17px;
    font-weight:bold;
}

.del_button:focus {
    border: none;
    outline: none;
}

body.dark .update_button{
    border: none;
    background-color:#353535;
    color:white;
    border: none;
    outline: none;
    font-size:17px;
    font-weight:bold;
}

body.dark .update_button:hover{
    border: none;
    background-color:#353535;
    color:#CBE7E9;
    border: none;
    outline: none;
    font-size:17px;
    font-weight:bold;
}

.update_button:focus{
    outline:none !important;
}

.scroll{
    overflow:hidden;
    height: 300px;
}
.scroll:hover{
    overflow-y: scroll;
    transition:overflow-y 2s;
}


 ::-webkit-scrollbar {
    width: 8px;
 }

 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: cyan;
}


body.dark{
    background-color: #353535;
    color:white
}

body.dark tr:hover{
    background-color: #295054;
    color:white
}

body.dark table tr{
    color:white;
}



body.dark .table-hover>tbody>tr:hover>* {
    background-color:#295054;
    color: white;
    }


.dark{
    background-color:#295054;
}

body.dark input[type="text"]{
    background-color: #353535;
    color:white;
 }

 body.dark ::placeholder{

    color:white;
 }

body.dark #address{
    background-color: #454747;
    color:white
}

body.dark .btn-outline-danger{
    background-color: #C85353;
    color:white;
}

body.dark .btn-outline-danger:hover{
    background-color: #F22828;
    color:white;
}

body.dark .btn-outline-success{
    background-color: #409341;
    color:white;
}

body.dark .btn-outline-success:hover{
    background-color: #48A749;
    color:white;
}

body.dark .btn-outline-primary{
    background-color: #3378C1;
    color:white;
}

body.dark .btn-outline-primary:hover{
    background-color: #4AA2FF;
    color:white;
}