{% extends 'skel.html' %}

{% block content %}
{%- for category, message in get_flashed_messages(with_categories = true) %}
<span style="width:50px;" >

    {%if category== 'success'%}
        <li class="p-1 mb-1 bg-success text-white">{{ message }}</li>
    {%else%}
        <li class="p-1 mb-1 bg-danger text-white">{{ message }}</li>
    {%endif%}

</span>
{%- endfor %}

<div class="d-grid gap-2 col-3 mx-auto w-25" style="overflow-y:scroll; height:250px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Standard Name</th>
        </tr>
        </thead>
        <tbody>
        {% for standard in standards %}
        <tr>
            <td>{{ standard.standard_name }}</td>
            <td>
                <button type="button" class="btn btn-outline-danger"
                        onclick="location.href='{{url_for('del_standard', standard_id = standard.id)}}'">Delete
                </button>
                <button type="button" class="btn btn-outline-success"
                        onclick="location.href='{{url_for('update_standard', standard_id = standard.id)}}'">Edit
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="d-grid gap-2 col-3 mx-auto">
    <form class="col g-3" action="{{url_for('add_standard')}}" method="POST">

        <div style="float:left; width:70%">

            <input type="text" class="form-control" placeholder="Standard Name" name="standard_name" required>
        </div>

        <div class="d-grid gap-2 col-3 mx-auto" style="float:left; width:20%">
            <button type="submit" class="btn btn-outline-primary" >Add</button>
        </div>

    </form>
    </div>

<div class="d-grid gap-2 col-3 mx-auto w-25" style="overflow-y:scroll; height:250px">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Section Name</th>
        </tr>
        </thead>
        <tbody>
        {% for section in sections %}
        <tr>
            <td>{{ section.section_name }}</td>
            <td>
                <button type="button" class="btn btn-outline-danger"
                        onclick="location.href='{{url_for('del_section', section_id = section.id)}}'">Delete
                </button>
                <button type="button" class="btn btn-outline-success"
                        onclick="location.href='{{url_for('update_section', section_id = section.id)}}'">Edit
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="d-grid gap-2 col-3 mx-auto">
    <form class="col g-3" action="{{url_for('add_section')}}" method="POST">

        <div style="float:left; width:70%">

            <input type="text" class="form-control" placeholder="Section Name" name="section_name" required>
        </div>

        <div class="d-grid gap-2 col-3 mx-auto" style="float:left; width:20%">
            <button type="submit" class="btn btn-outline-primary" >Add</button>
        </div>

    </form>
    </div>
<br>
<br>
{% include 'footer.html' %}
{% endblock %}