{% extends 'skel.html' %}
{%block title%}Standard/Section{% endblock %}
{% block content %}
{% include 'alert.html' %}

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-5 mx-auto scroll">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Standard Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for standard in standards %}
                <tr>
                    <td>{{ standard.standard_name }}</td>
                    <td>
                        <button type="button" id="del_standard" class="btn btn-outline-danger" onclick="del_standard({{standard.id}})"
                            data-toggle="modal" data-target=".bd-example-modal-sm">Delete
                        </button>
                        <button type="button" class="btn btn-outline-success"
                                onclick="location.href='{{url_for('update_standard', standard_id = standard.id)}}'">Edit
                        </button>
                    </td>

                    <td>
                        <div id="bd-example-modal-sm{{standard.id}}" class="modal fade bd-example-modal-sm"
                             tabindex="-1" role="dialog"
                             aria-labelledby="mySmallModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        Are You Sure ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                                onclick="location.href='{{url_for('standard_section')}}'">Close
                                        </button>
                                        <a class="btn btn-danger" id="modal_del{{standard.id}}"
                                           href="location.href='{{url_for('del_standard', standard_id = standard.id)}}'">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-5 mx-auto scroll">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Section Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for section in sections %}
                <tr>
                    <td>{{ section.section_name }}</td>
                    <td>
                        <button type="button" id="del_section" class="btn btn-outline-danger" onclick="del_section({{section.id}})"
                            data-toggle="modal" data-target=".bd-example-modal-sm">Delete
                        </button>
                        <button type="button" class="btn btn-outline-success"
                                onclick="location.href='{{url_for('update_section', section_id = section.id)}}'">Edit
                        </button>
                    </td>

                    <td>
                    <div id="bd-example-modal-section{{section.id}}" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Are You Sure ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            onclick="location.href='{{url_for('standard_section')}}'">Close
                                    </button>
                                    <a class="btn btn-danger" id="section_del{{section.id}}"
                                            href="location.href='{{url_for('del_section', section_id = section.id)}}'">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="col-3 mx-auto" style="margin-top:50px">
            <form action="{{url_for('add_standard')}}" method="POST">

                <div style="float:left; width:70%">

                    <input type="text" class="form-control" placeholder="Standard Name" name="standard_name" required>
                </div>

                <div class="d-grid gap-2 col-3 mx-auto" style="float:left; width:20%">
                    <button type="submit" class="btn btn-outline-primary">Add</button>
                </div>

            </form>
        </div>
        <div class="col-3 mx-auto" style="margin-top:50px">
            <form action="{{url_for('add_section')}}" method="POST">

                <div style="float:left; width:70%">
                    <input type="text" class="form-control" placeholder="Section Name" name="section_name" required>
                </div>

                <div style="float:left; width:20%">
                    <button type="submit" class="btn btn-outline-primary">Add</button>
                </div>

            </form>
        </div>

    </div>
</div>

<script>
 function del_section(id){
    $('#bd-example-modal-section'+id).modal('show');
    $('#section_del'+id).attr('href','')
    $('#section_del'+id).attr('href','/del_section/'+id)
 }



 function del_standard(id){
    $('#bd-example-modal-sm'+id).modal('show');
    $('#modal_del'+id).attr('href','')
    $('#modal_del'+id).attr('href','/del_standard/'+id)
 }
</script>
<br>
<br>
{% include 'footer.html' %}
{% endblock %}