{% extends 'skel.html' %}
{%block title%}Add Student{% endblock %}
{% block content %}

{%- for category, message in get_flashed_messages(with_categories = true) %}

{%if category== 'success'%}
<h6 class="p-2 mb-1 bg-success text-white">{{ message }}</h6>
{%else%}
<h6 class="p-2 mb-1 bg-danger text-white">{{ message }}</h6>
{%endif%}


{%- endfor %}

<div class="d-grid gap-2 col-5 mx-auto" style="margin-top:30px">

    <form action="{{request.path}}" method="post" id="submitData">
        {{ form.csrf_token}}
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">First Name<span style="color:red">*</span></label>
                    <input value="{{ request.form['fname'] }}" type="text" id="form3Example1" class="form-control"
                           name="fname" placeholder="First Name"
                           required/>

                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Last Name <span style="color:red">*</span></label>
                    <input value="{{ request.form['lname'] }}" type="text" id="form3Example2" class="form-control"
                           name="lname" placeholder="Last Name"
                           required/>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Mother Name <span style="color:red">*</span></label>
                    <input value="{{ request.form['mother_name'] }}" type="text" class="form-control" name="mother_name"
                           placeholder="Mother name" required/>

                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label">Father Name <span style="color:red">*</span></label>
                    <input value="{{ request.form['father_name'] }}" type="text" class="form-control" name="father_name"
                           placeholder="Father Name" required/>
                </div>
            </div>
        </div>

        <div class="row mb-4" id="address">
            <div class="row mb-4">
                <div class="col">
                    <label class="form-label">Street <span style="color:red">*</span></label>
                    <input value="{{ request.form['addr'] }}" type="text" class="form-control" name="addr"
                           placeholder="Street" required>
                </div>
                <div class="col-3">
                    <label class="form-label">Zip <span style="color:red">*</span></label>
                    <input value="{{ request.form['pin'] }}" type="text" class="form-control" name="pin"
                           placeholder="Pin" required>
                </div>
            </div>

            <div class="col">
                <label class="form-label">Country <span style="color:red">*</span></label>

                {{form.country(class="form-select form-select-lg mb-3 bg-info text-light")}}

            </div>

            <div class="col">
                <label class="form-label">State <span style="color:red">*</span></label>

                {{form.state(class="form-select form-select-lg mb-3 bg-info text-light")}}
            </div>

            <div class="col">
                <label class="form-label">City <span style="color:red">*</span></label>

                {{form.city(class="form-select form-select-lg mb-3 bg-info text-light", value = request.form["city"])}}
            </div>

        </div>
        <div class="row mb-4">

            <div class="col">
                <label class="form-label">Standard <span style="color:red">*</span></label>
                {{form.standard(class="form-select form-select-lg mb-3 bg-info text-light")}}
            </div>
            <div class="col">
                <label class="form-label">Section <span style="color:red">*</span></label>
                {{form.section(class="form-select form-select-lg mb-3 bg-info text-light")}}
            </div>


        </div>
        <div class="row mb-4">
            <div class="col">
                <label class="form-label">Roll No.<span style="color:red">*</span></label>
                <input value="{{ request.form['roll_no'] }}" type="text" class="form-control" name="roll_no"
                       placeholder="Roll no." required>
            </div>
            <div class="col">
                <label class="form-label">Email</label>
                <input value="{{ request.form['email'] }}" type="text" class="form-control" name="email"
                       placeholder="@Email">
            </div>
        </div>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-sm"
            >Add
                Record
            </button>

        </div>
    </form>
</div>




{% block script %}

<script src="{{url_for('static', filename='script_update.js')}}"></script>

{% endblock %}
<br>
<br>

{% include 'footer.html' %}
{% endblock %}