
<style>
  i:hover{
    color:cyan;
  }

</style>
<div class="w-100" style="bottom:0px;position:fixed">
    <section
             class="d-flex justify-content-center p-2"
             style="background-color: rgb(33,37,41)"
             >



      <div>
        <a href="https://www.github.com/pulkitdhiman0001" class="text-white me-4" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://www.twitter.com" class="text-white me-4" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>

        <a href="https://www.gmail.com" class="text-white me-4" target="_blank">
          <i class="fa fa-google"></i>
        </a>
        <a href="https://www.instagram.com" class="text-white me-4" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com" class="text-white me-4" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>

      </div>

    </section>


</div>
