{%extends "skel.html"%}
{%block title%}Countries{% endblock %}
{%block content%}
{% include 'alert.html' %}

<br>
<br>

<h2 style="text-align:center">Country List</h2>
<br>

<div style="width:400px; margin:auto" class="d-grid gap-2 col-6 mx-auto">
    <div style="overflow-y:scroll; height:200px">
        <table class="table table-hover" id="tb">
            <thead>
            <tr>
                <th>Country</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td>
                    <button type="button" id="del" class="btn btn-outline-danger" onclick="del({{country.id}})"
                             data-target=".bd-example-modal-sm">
                        Delete
                    </button>
                    <button type="button" class="btn btn-outline-success"
                            onclick="location.href='{{url_for('update_country', country_id = country.id)}}'">
                        Edit
                    </button>
                </td>
                <td>
                    <div id="bd-example-modal-sm{{country.id}}" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Are You Sure ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            onclick="location.href='{{url_for('all_countries')}}'">Close
                                    </button>
                                    <a class="btn btn-danger" id="modal_del{{country.id}}"
                                            href="location.href='{{url_for('del_country', country_id = country.id)}}'">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-grid gap-2 col-12 mx-auto" style="margin-top: 20px;">
        <div class="d-grid gap-2 col-6 mx-auto">
            <form action="{{url_for('add_country')}}" method="POST">

                <div style="float:left; width:80% !important">

                    <input type="text" class="form-control" placeholder="Country Name" name="name" required>
                </div>

                <div class="d-grid gap-2 col-5 mx-auto" style="float:left; width:20%; margin-left:20px">
                    <button type="submit" class="btn btn-outline-primary">Add</button>
                </div>

            </form>
        </div>
    </div>

</div>
<script>
function del(id){
    $('#bd-example-modal-sm'+id).modal('show');
    $('#modal_del'+id).attr('href','')
    $('#modal_del'+id).attr('href','/del_country/'+id)
 }
</script>
{%endblock%}