{%extends "skel.html"%}
{%block title%}Cities{% endblock %}
{%block content%}
{%- for category, message in get_flashed_messages(with_categories = true) %}
<ul>
    {%if category== 'success'%}
        <li class="p-1 mb-1 bg-success text-white">{{ message }}</li>
    {%else%}
        <li class="p-1 mb-1 bg-danger text-white">{{ message }}</li>
    {%endif%}

</ul>
{%- endfor %}
<br>
<br>

<h2 style="text-align:center">City List</h2>
<br>


<div style="width:500px; margin:auto" class="d-grid gap-2 col-6 mx-auto">
    <div style="overflow-y:scroll; height:200px; margin-left:10px">
        <table class="table table-hover" id="tb">
            <thead>
            <tr>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities %}
            <tr>
                <td>{{ city.name }}</td>
                <td>{{ city.state.name }}</td>
                <td>{{ city.country.name }}</td>
                <td>
                    <button type="button" id="del" class="btn btn-outline-danger" onclick="del({{city.id}})"
                            data-toggle="modal" data-target=".bd-example-modal-sm">Delete
                    </button>
                    <button type="button" class="btn btn-outline-success"
                            onclick="location.href='{{url_for('update_city', city_id = city.id)}}'">Edit
                    </button>
                </td>

                <td>
                    <div id="bd-example-modal-sm{{city.id}}" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Are You Sure ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            onclick="location.href='{{url_for('all_cities')}}'">Close
                                    </button>
                                    <a class="btn btn-danger" id="modal_del{{city.id}}"
                                            href="location.href='{{url_for('del_city', city_id = city.id)}}'">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-grid gap-2 col-12 mx-auto" >
        <div class="d-grid gap-2 col-6 mx-auto">
            <form action="{{url_for('add_city')}}" method="POST">

                <div class="d-grid gap-2 col-12 mx-auto">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="City Name" name="name" required>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            {{form.country(class="form-select form-select-lg mb-3 bg-info text-light")}}

                        </div>
                        <div class="col">
                            {{form.state(class="form-select form-select-lg mb-3 bg-info text-light")}}
                        </div>

                    </div>
                </div>

                <div class="d-grid col-8 mx-auto">
                    <button type="submit" class="btn btn-outline-primary">Add</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% block script %}
<script src="{{url_for('static', filename='script_update.js')}}"></script>
<script>
<!--     $('#del').on('click', function() {-->
<!--     -->


<!-- });-->

 function del(id){
    $('#bd-example-modal-sm'+id).modal('show');
    $('#modal_del'+id).attr('href','')
    $('#modal_del'+id).attr('href','/del_city/'+id)
 }
</script>
{% endblock %}

{%endblock%}