{% extends 'skel.html' %}
{%block title%}Countries{% endblock %}
{% block content %}
{% include 'alert.html' %}
<div class="d-grid gap-2 col-3 mx-auto" style="margin:auto; margin-top:8%">
    <form class="col g-3" action={{request.path}} method="post">
        <div>
            <label class="form-label">Name</label>
            <input type="text" class="form-control" value="{{country_to_update.name}}" name="name" required>
        </div>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-outline-primary">Update Country</button>
        </div>

    </form>
</div>
<br>
<br>
{% include 'footer.html' %}
{% endblock %}